.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #3baaf5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  /* border-bottom: 2px solid #424d58; */
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: space-between; */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  color: #007bff;
  /* font-weight: bold; */
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.nav-bar a {
  color: #333;
  text-decoration: none;
  margin: 0 15px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.nav-bar a:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #007bff;
  color: #fff;
}

.dropdown.open .dropdown-menu {
  display: block; /* Show when dropdown is open */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
  }

  .nav-bar.open {
    display: flex;
  }

  .nav-bar a {
    margin: 10px 0;
    width: 100%;
  }
}
